$body-padding: 10px;

$row-border-radius: 3px;
$row-gutter: 5px;

$indicator-padding: 5px;

$focused-input-color: #64b5f6;
$active-row-color: #2196f3;
$warning-color: #fbc02d;
$error-color: #f44336;

$focus-highlight-width: 2px;
