$body-padding: 10px;

$row-border-radius: 3px;
$row-gutter: 5px;

$indicator-padding: 5px;

$focused-input-color: #64b5f6;
$active-row-color: #2196f3;
$info-color: #90a4ae;
$warning-color: #fbc02d;
$error-color: #f44336;

$focus-highlight-width: 2px;

$modal-top-margin: 20px;
$modal-padding: 20px;
$modal-width: 350px;
$modal-max-height: 300px;
$modal-shadow: 0 5px 15px 5px #888;
$modal-border-radius: 5px;
$modal-text-margin: 10px;
$modal-button-padding: 5px 10px;
$modal-button-hover-brightness: 0.9;
