@use "vars";
@use "util";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--vscode-editor-font-family);
}

body {
	padding: vars.$body-padding !important;
	font-size: var(--vscode-editor-font-size);
}

.row {
	display: flex;
	align-items: center;
	border-radius: vars.$row-border-radius;
	margin-bottom: vars.$row-gutter;

	&.execution {
		border-left: vars.$row-border-radius solid vars.$active-row-color;
	}

	&.info {
		--badge-color: #{vars.$info-color};
		border-left: vars.$row-border-radius solid var(--badge-color);
		background-color: rgba(vars.$info-color, 20%);
	}

	&.warning {
		--badge-color: #{vars.$warning-color};
		border-left: vars.$row-border-radius solid var(--badge-color);
		background-color: rgba(vars.$warning-color, 20%);
	}

	&.error {
		--badge-color: #{vars.$error-color};
		border-left: vars.$row-border-radius solid var(--badge-color);
		background-color: rgba(vars.$error-color, 20%);
	}

	&.info,
	&.warning,
	&.error {
		& > .indicator > span {
			--width: calc(var(--vscode-editor-font-size) + #{vars.$indicator-padding});
			display: inline-block;
			width: var(--width);
			line-height: var(--width);
			border-radius: 1000px;
			text-align: center;
			background: var(--badge-color);
		}
	}

	& > .indicator {
		padding: vars.$indicator-padding;
		margin-right: vars.$row-border-radius;
		user-select: none;
	}

	& > .script {
		flex-grow: 1;
		white-space: pre-wrap;
		overflow-x: auto;
	}
}

.execution {
	& > .script {
		padding: vars.$indicator-padding;
		box-shadow: 0 0 0 0 vars.$focused-input-color;
		border-radius: vars.$row-border-radius;
		background-color: transparent;

		@include util.transition((box-shadow, background-color));

		&[contenteditable="true"]:not(:focus) {
			background-color: var(--vscode-editor-selectionBackground);
		}

		&[contenteditable="true"]:focus {
			outline: 0;
			box-shadow: 0 0 0 vars.$focus-highlight-width vars.$focused-input-color;
		}
	}
}

.modal {
	position: fixed;
	top: vars.$modal-top-margin;
	left: 50%;
	transform: translateX(-50%);
	padding: vars.$modal-padding;
	width: min(#{vars.$modal-width}, 100%);
	max-height: min(#{vars.$modal-max-height}, 100%);
	box-shadow: vars.$modal-shadow;
	background: var(--vscode-editor-background);
	font-family: var(--vscode-font-family) !important;
	font-size: var(--vscode-font-size) !important;
	border-radius: vars.$modal-border-radius;

	& * {
		font-family: var(--vscode-font-family) !important;
		font-size: var(--vscode-font-size) !important;
	}

	& > p {
		margin-bottom: vars.$modal-text-margin;
		word-break: break-word;
		overflow-y: auto;
	}

	& > .button-container {
		display: flex;
		align-items: center;
	}

	&-button {
		border: none;
		padding: vars.$modal-button-padding;
		border-radius: vars.$row-border-radius;
		background-color: var(--button-color);
		cursor: pointer;
		filter: brightness(1);

		@include util.transition((filter));

		&:hover {
			filter: brightness(vars.$modal-button-hover-brightness);
		}

		&:focus {
			outline: none;
		}
	}
}

.table {
	width: 100%;
	padding: 10px;
	border-collapse: collapse;
	text-align: center;

	& thead {
		font-weight: bold;
		background-color: rgba(vars.$info-color, 50%);
	}

	& tr:nth-child(2n) {
		background-color: var(--vscode-editor-selectionBackground);
	}

	& td {
		padding: 5px;
		border: 1px solid vars.$active-row-color;
	}
}
